/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-dialog-container {
    left: 0;
    position: absolute;
    top: 0;
}

.mat-dialog-content {
    max-height: none !important;
    min-height: 900px !important;
}